@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Technology College</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to the Technology College</h2>
        <p>
            "Technology College" is an example of a project that
            demonstrates how to use EntityFramework in an Application
            Asp.Net Core MVC Web Site.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Do it Yourself</h2>
        <p>You can find out more about the project by accessing the repository on Github.</p>
        <p><a class="btn btn-default" href="https://github.com/paulamora-is/Poc-EntityFrameworkCore">Access repository &raquo;</a></p>
    </div>
</div>